body {
background-color: rgba(32, 32, 32, 0.9);}

h1, h2 {
	color: rgba(170, 170, 170, 0.8);
}

a {
	color: rgba(190, 190, 190, 0.8);
}

a:hover {
	opacity: 0.6;
}

a:active {
	opacity: 1;
	color: rgba(200, 200, 200, 0.8);
}





